
.sli {
	width: 950px;
	height: 500px;
	border: 0px solid black;
	background-color: rgba(172, 32, 32, 0.5);
	margin-top: 10.5vh;
	margin-left: 7vw;

	img {
		width: 100%;
		height: 500px;
		object-fit: contain;
	}

	.slick-prev:before,
	.slick-next:before {
		color: black;
	}
}