
.login {
	width: 500px;
	margin-left: 5vw;
	margin-top: 10.3vh;

	&-box {
		width: 500px;
		height: 500px;
		border: 0.5px solid #E0E0E0;
		text-align: center;

		&-btn {
			margin-top: 6vh;
			width: 12vw;
			height: 3.3vh;
			color: white;
			border-radius: 40px;
			border: 0;
			background-color: #FC6E51;
			margin-bottom: 0.5vh;
		}

		&-goto {
			font-size: 0.9rem;
		}

		&-check {
			margin-right: 10.3vw;
		}

		&-box {
			margin-top: 6vh;
			margin-bottom: 2vh;

			&-text {
				margin-right: 14vw;
				font-size: 1.2rem;
				font-weight: 600;
				margin-bottom: 5vh;
			}

			&-idtext {
				margin-bottom: 0;
				margin-right: 15.3vw;
			}

			&-id {
				width: 16vw;
				margin-top: 0.5vh;
				height: 4vh;
				border: 0;
				background-color: #F3F3F3;
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				font-size: 1rem;
			}

			&-pwtext {
				margin-top: 3vh;
				margin-bottom: 0;
				margin-right: 12.6vw;
			}

			&-pw {
				width: 16vw;
				margin-top: 0.5vh;
				height: 4vh;
				border: 0;
				background-color: #F3F3F3;
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			}
		}
	}
}